body {
    margin: 0;
    font-family: "Poppins", "IBM Plex Mono";
    ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-light-grey);
    color: var(--color-text-darker);
    font-weight: var(--fontWeight-regular);
    font-size: var(--fontSize-md);
  }

 

  .homeOuterContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 15px;

    
    .homeInnerContainer{
        display: flex;
        flex-direction: row;
        height: 75%;
    }

    .homeInnerMobileContainer{
        display: flex;
        flex-direction: column;
        height: 75%;
    }
  }
  
  